<div style="text-align:center">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Product Management</h1>
        
        <hr class="my-2">
        <p>Manage your products here!!!</p>
      
         
             <a class="btn btn-primary btn-lg" routerLink="product-list" role="button">show products</a>
        
          <a class="btn btn-primary btn-lg" routerLink="proadd" role="button">add products</a>
      
          
        
        
        
        
       
          
        
      </div>
    </div>
    